
/*=====================================================================
                    DEFAULT VALUES:

                    Font family: Rboto Condensed

                    Green Blue #34c6d3 (button, icon, link ,line, baground)
                    Stell Gray #41464b (heading)
                    Blue Bayoux #64707b
                    White #fff (Paragrap)
                    Black #000           



=======================================================================*/
body {
    font-family: 'Roboto', sans-serif; 
}

html,body {
    height: 100%;
}
p {
    color: #64707b;
    font-size: 16px;
    font-weight: 300px;
}
h3 {
    color: #41464b;
    text-transform: uppercase;
}

/*===================================================================
                        Home
===================================================================*/

#home {
    height: 100%;
}

#home-cover {
    background-image: url('../img/bg-home.jpg');
    height: 100%;
    
}
#home-content-box {
    width: 100%;
    height: 100%;
    display: table;
    
}
#home-content-box-inner {
    
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}
#home-heading h3 {
    color: #fff;
    font-size: 55px;
    font-weight: 700;
    margin: 20px 0 20px 0;
    text-align: center;
}

/*===================================================================
                       PARALLAX (Generic)
===================================================================*/
.bg-parallax {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

/*===================================================================
                       Buttons (Generic)
===================================================================*/
.btn-general {    
    border-width: 2px;
    border-radius: 0;
    padding: 12px 26px 12px 26px;
    font-size: 16px;
    font-weight: 400;
    text-transform: uppercase;
}
.btn-white {
    border-color: #fff;
    color: #fff;
}
.btn-white:hover, .btn-white:focus {
    background-color: #fff;
    color: #41464b;

}

.btn-green-blue {
    border-color:#34c6d3;
    color:#34c6d3;    
}
.btn-green-blue:hover, .btn-green-blue:focus {
    background-color: #34c6d3;
    color: #fff;
}

/*===================================================================
                      ANIMATE
===================================================================*/
#home-cover,
#home-heading,
#home-btn {
    animation-duration: .5s;
}

#home-cover {
    
    animation-delay: .1s;

}
#home-heading {
   
    animation-delay: .5s;
}
#home-btn {
    
    animation-delay: 1s;
}

/*===================================================================
                      CONTENT (Generic)
===================================================================*/
.content-box {
    padding: 60px 0 60px 0;
}
.content-title h3{
    font-size: 30px;
    font-weight: 700px;
    text-align: center;
    margin: 0 0 30px 0;
}
.service-title-undreline {
    width: 30px;
    height: 3px;
    background-color: #34c6d3;
    margin: 0 auto 30px auto;
}
.content-title-undreline {
    width: 30px;
    height: 3px;
    background-color: #34c6d3;
    margin: 0 auto 30px auto;
}

/*===================================================================
                      SERVICE
===================================================================*/
.service-item {
    padding: 20px 0 20px 0;
    margin-bottom: 20px;
    cursor: pointer;
}
.service-item-icon i{
    color: #34c6d3;
    float: left;
    padding: 15px;
    margin-right: 25px;
    width: 75px;
    height: 75px;
    text-align: center;

}
.service-item:hover .service-item-icon i{
    background-color: #34c6d3;
    color: #fff;
        
}
.service-item-title h3 {
    font-size: 20px;
    font-weight: 400px;
    margin: 0 0 10px 0;
}
.service-item-dec {
    margin: 0;
    padding-left: 25px;
}
.content-title-white h3 {
    color: #fff;
}

/*===================================================================
                      ABOUT
===================================================================*/
#about-bg-diagonal{
    width: 60%;
    height: 700px;
    float: right;    
    background-image: url('../img/bg-about.jpg');
    border-left: 200px solid white;
    border-top: 700px solid transparent;
    
}

#about-content-box {
    float: left;
    height: 700px;
    /* width: 300px; */
}
#about-content-box-outer {
    width: 100%;
    height: 100%;
    display: table;
}
#about-content-box-inner {
   
    display: table-cell;
    vertical-align: middle;
}

#about .content-title h3{
    text-align: left;
}
#about .content-title-undreline {
   margin: 0 0 30px 0;
}

/* #about-content-box-cover {
    background-image: url('../img/bg-about.jpg');
    width: 155%;
    height: 700px;
    border-left: 200px solid white;
    border-top: 700px solid transparent;

} */
#about-desc p {
    margin-bottom: 30px;
}

/*===================================================================
                      WORK
===================================================================*/
.container-fluid {
    padding:0 0 0 0;
}
.img-thumbnail {
    border-radius: 0;
    border: 0 ;
    padding: 0 0 0 0;
}
.row.no-gutters [class*=col-] {
    padding-right: 0;
}
.img-wrapper {
    overflow: hidden;
}
.img-wrapper img {
    transition: transform .5s ease;
}
.img-wrapper img:hover {
    transform: scale(1.5);
    cursor: zoom-in;
    
}

/*===================================================================
                      TEAM
===================================================================*/
.team-member {
    margin:0 15px;
}
.team-member-info {
    padding: 10px 0 30px 0;
}
h4.team-member-name {
    font-size: 22px;
    font-weight: 700;
    letter-spacing: 1px;
    padding-top:2px;
}
h4.team-member-designation {
    color: #34c6d3;
    font-size: 15px;
    font-weight: 700;
    font-style: italic;
    letter-spacing: 1px;
    margin-top: 5px;
}

/*===================================================================
                      SOCIAL
===================================================================*/

.social-list {
    padding-left: 0;
}
.social-list li {
    list-style: none;
    display: inline-block;
    width: 32px;
    height: 32px;
    margin-right: 6px;
    margin-top: 10px;
}
.social-icon i {
    font-size: 17px;
}
.icon-gray i{
    color: #64707b;
}
.social-icon i:hover {
    color: #34c6d3;
}
/* .icon-gray i:hover {
    color: #34c6d3;
} ????????????????????*/

/*===================================================================
                      TESTIMONIALS
===================================================================*/
.testimonials-cover {
    background-image: url('../img/bg-testimonials.jpg');
    
}
#testimonials .content-box {
    background: rgba(0,0,0,0.1);
}
.testimonial img {
   max-width: 120px;
   margin: 0 auto 0 auto;
   padding: 10px 0 10px 0;
}
.testimonial blockquote {
    border: 0;
    font-family: Georgia,sans-serif;
    position: relative;
}
.testimonial blockquote p {
    color: #fff;
    font-size: 16px;
    font-style: italic;
}
.testimonial-author p {
    color: #fff;
}
.testimonial-author p strong {
    display: block;
    text-transform: uppercase;
}
.testimonial blockquote::before,
.testimonial blockquote::after {
    color: #fff;
    font-size: 40px;
    font-style: normal;
    line-height: 1;
    width: 30px;
    height: 30px;
    position: absolute;
}
.testimonial blockquote::before {
    content: "\201C";
    top: 0;
    left: 130;;
      
}
.testimonial blockquote::after {
    content: "\201D";
    top: 20;
    right: 130;
}

/*===================================================================
                      PRICING
===================================================================*/
.pricing-box {
    border: 3px solid #34c6d3;
    padding: 30px;
    margin: 30px;
}
.pricing-box .price-title {
    background-color: #34c6d3;
    display: inline-block;
    padding: 7px 15px;
    color: #fff;
    margin-bottom: 40px; 
}
h3.price-value {
    font-size: 50px;
    font-weight: 700;
    margin-bottom: 30px;
}
h3.price-value sup {
    font-size: 28px;
    font-style: normal;
    vertical-align: super;
}
ul.price-spec li{
    list-style: none;
    
}
ul.price-spec {
    padding-left: 0;
    margin-bottom: 30px;
}
.price-btn {
    padding: 20px 0;
}
.bg-price {
    background-color: #34c6d3;
    margin: 0;
    padding:60px;
}

.bg-price .price-title {
    background-color: #fff;
    color:#34c6d3;
}
.bg-price h3 {
    color: #fff;
}
.bg-price ul li p {
    color: #fff;
}
.bg-price .price-btn a:hover {
    color: #34c6d3;
}

/*===================================================================
                      STATE
===================================================================*/
.state-cover {
    background-image: url('../img/bg-stats.jpg');
}
#state .content-box {
    background: rgba(0,0,0,0.5);
}
.state-item {
    padding: 100px 0;
}
.state-item i {
    color: #34c6d3;
}
.state-item p {
    color: #fff;
    text-transform: uppercase;
    font-weight: 700;
    margin-top: 0;
}
.state-item h4 {
    color: #fff;
}